ul.flexible_content-container {
  margin: 0;
  list-style-type: none;
  background-color: #fff;
  
    li {
      margin: 0;
      list-style-type: none;
      margin-top: 3em;

      &:first-of-type {
        margin-top: 0;
      }

      &:nth-of-type(even) {
        .content_row {
          flex-direction: row-reverse;
        }
      }
    }

    .flexible_content {
    .mk-grid {
      margin: 0 auto;
    }

    .headline {
      text-align: center;
      padding: 1em;

      p {
        font-size: 1.6em;
        color: $blue-dk;
      }
    }

    .content_container {
      background-color: #f8f8f8;

      .content_row {
        display:flex;

        @media only screen and (max-width: 767px) {
          flex-wrap: wrap;
          height: auto;
        }

        height:600px;

        .background_image {
          padding:0;
          background-position: center;
          background-size: cover;
          position: relative;

          @media only screen and (max-width: 767px) {
            height: 500px;
          }
        }

        .overlay {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 100%;

          &.blue {
            background-color:rgba($blue, 0.6);
          }

          &.orange {
            background-color:rgba($orange, 0.6);
          }

          &.green {
            background-color:rgba($green, 0.6);
          }

          img {
            width: 90%;
            height: auto;
            position: absolute;
          }

          .detail_content {
            display: flex;
            margin-top: auto;
            width: 100%;
            justify-content: space-between;

            p {
              font-size: .8em;
              color: #ffffff;
              width: 50%;
              margin-bottom: .5em;
              line-height: 1.1;
            }
          }
        }

        .content {
          display: flex;
          justify-content: center;
          align-items:center;
          padding: 1em;

          p {
            font-size: 1.6em;

            strong {
              font-size: 1.2em;
            }
          }

          &.blue {
            strong {
              color: $blue;
            }
          }

          &.orange {
            strong {
              color: $orange;
            }
          }

          &.green {
            strong {
              color: $green;
            }
          }
        }
      }
    }
  }
}
